<div class="row">
<br /><br /><br /><br />
    <div class="col-md-3"></div>
    <div class="col-md-6 customFont alert alert-success text-center" style="background-color: deeppink; color: white" >
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
        <div class="col-md-3"></div>

</div>