@model string;

<div style="position: fixed" right:25px; bottom: 25px" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-outline-primary customFont float-right buttoniTeStore" style="font-size: 15px; color: white; background-color: deeppink">
        <i class="bi bi-plus-circle"></i> Add new
    </a>


</div>