@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="customFont" style="font-size: 65px;">Pink <b><i>JB</i></b></h1>

</div>
<div class="row">
    <div class="col-md-12"> 
        <br />

        <h2 class=" text-center customFont" style="font-size: 35px">Contact Us</h2><br />
        
        <br />
       <!--<p class="text-center"><a href="https://asp.net" class="btn btn-primary btn-lg">Go to store &raquo;</a></p>--> 

    </div>
     
</div>
<div class="row">
    <div class="col-md-12 text-center">
                <a class="btn btn-primary btn-lg"   asp-action="Store">Go to store &raquo;</a>
    </div>
</div>