@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="customFont" style="font-size: 65px;">Pink <b><i>JB</i></b></h1>

</div>
<div class="row">
    <div class="col-md-12"> 
        <br />

        <h2 class=" text-center customFont" style="font-size: 35px">About Us</h2><br />
        <p class="text-justify customFont" style="font-weight: 500; font-size: 21px;">
            Pink JB is a pyjamas store, but the story is not it. Pink JB specializes in fancy pyjama sets, comfy loungewear, nightwear  making your morning feel so special.
            Pink JB specializes in custom made pyjamas where we offer custom embroidery based on your wishes.
            Pink JB has a variety of models, styles, and special occassion designs based on what are you interested on, we also offer helping hand by offering you our bestsellers.
        </p>
        <p class="text-justify customFont" style="font-weight: 500; font-size: 21px;">
            Ordering on pinkJB is easier than ever. With a click on the button you can visit our online store, check our products, check product description, check availability , choose your favorite design and fitting size, pay with a card and its good to go. PinkJB is on <a href="https://www.instagram.com/accounts/login/?next=/pinkjb_/">Instagram</a>  too where you can see user reviews and ratings.

        </p>
        <br />
        <!--<p class="text-center"><a href="https://asp.net" class="btn btn-primary btn-lg">Go to store &raquo;</a></p>--> 

    </div>
     
</div>
<div class="row">
    <div class="col-md-12 text-center align-content-center">
        <a class="btn btn-primary btn-lg customFont"   asp-action="Store"> Go to store &nbsp; <i class="bi bi-shop"></i></a>
    </div>
</div>